body {
  display: block;
  margin: auto;
  width:90%;
}

footer {
  text-align: center;
}

content {
  display: block;
  margin:auto;
}

element {
    border: 0;
    background: rgba(0,0,0,0.1);
    height: 2px;
}

#div_currentdata {
  display: inline-block;
  vertical-align: top;
  width:25%;
}

#div_graphs {
  display:inline-block;
  width: 65%;
}


#container {
  min-width: 400px; 
  height: 400px; 
  margin: 0 auto;
}

#graph_loading_overlay {
  display: block;
  margin: auto;
  width:100%;
}

.graph_loading_overlay img {
  display: block;
  margin: auto;
}